.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%; /* Adjust based on number of items */
}

.carousel-item {
    flex: 1 0 100%;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 18%;
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.carousel-control-prev {
    left: 50px;
}  
.carousel-control-next {
    right: 50px;
  }



.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: block;
    width: 50px;
    height: 50px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.carousel-control-prev-icon {
    transform: rotate(135deg);
}

.carousel-control-next-icon {
    transform: rotate(-45deg);
}

.carousel-item img {
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  }

@media (max-width: 775px){
    .carousel-control-prev-icon,
    .carousel-control-next-icon{
        height: 25px;
        width: 25px;
    }

    .carousel-control-prev {
        left: 30px;
    }  
    .carousel-control-next {
        right: 30px;
      }
}

@media(max-width:450px){
    .carousel-control-prev-icon,
    .carousel-control-next-icon{
        height: 15px;
        width: 15px;
    }

    .carousel-control-prev {
        left: 20px;
    }  
    .carousel-control-next {
        right: 20px;
      }

    .carousel-item img {
        width: 200%;
        height: auto;
        object-position: -150px 0px; /* Centers the image content */
    }



}

