
.navigation-bar {
  display: flex;
  align-items: center;
  background-color: #232f3e;
  padding: 10px 20px;
  color: #fff;
  z-index: 999;
  position: fixed;
  top: 60px;
  right: 0;
  left: 0;
  width: 100%;
  height: 20px;
  flex-grow: 1;
  flex-shrink: 1;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none; 
}

.navigation-bar::-webkit-scrollbar {
  display: none;
}

 
.navigation-outer{
  margin-right: 20px;
  margin-right: 20px;
  
}
.navigation-bar-categories {
  display: flex;
  gap: 10px;
  width: 100%;
}

.category-btn {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: transform 0.1s, background-color 0.2s;
}

.category-btn:hover {
  background-color: #485769;
}

.category-btn:active {
  transform: scale(0.95);
  background-color: #5a6978;
}
@media (max-width: 1116px){
  .navigation-bar{
    padding: 10px;
  }
  .navigation-bar-categories {
    gap: 5px; 
    
}
.category-btn {
  padding: 1px 12px; 
}
}
@media (max-width: 775px) {
  .navigation-bar {
      padding: 10px; 
  }

  .navigation-bar-categories {
      gap: 5px;
      

  .category-btn {
      font-size: 12px; 
      padding: 2px 12px; 
  }
}}


@media (max-width: 480px) {
  .category-btn {
      font-size: 10px; 
      padding: 2px 8px; 
      
  }

  .navigation-bar-categories {
      gap: 2px; 
      
  }
}
  
  
  